@font-face {
  font-family: "IBM Plex Mono";
  src: url("./fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("./fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin-top: 0;
  background-color: black;
  font-family: IBM Plex Mono;
  font-size: 16px;
  color: white;
  margin-right: 1rem;
  margin-left: 1rem;
}

a {
  text-decoration: initial;
}

.small {
  font-size: 0.7rem;
}

a,
h1,
h2,
p {
  color: white;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

h3 {
  text-transform: lowercase;
}

input {
  font-family: IBM Plex Mono;
}
:focus {
  border: initial;
}
:focus {
  outline: none !important;
}

.not-in-view {
  opacity: 0;
  transition: ease-in 0.25s;
}

.in-view {
  opacity: 1;
  content-visibility: visible;
  transition: ease-in 0.5s;
}

header {
  background-color: black;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  z-index: 100;
  position: sticky;
  top: 0;
}

.event-cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  .card {
    border-bottom: solid 1px black;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    background-color: black;

    .highlight-word {
      color: black;
      background-color: rgba(255, 255, 255, 0.59);
    }

    .cover {
      height: 20rem;
      width: 100%;
      background-size: cover;
      background-position-y: -0.8rem;
      position: relative;
    }

    .cover .image {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;

      mix-blend-mode: luminosity;
      filter: contrast(2.5);
    }

    .cover .image img {
      object-fit: cover;
      object-position: 0px -10px;
      height: 100%;
      width: 100%;
    }

    .cover .overlay {
      z-index: 0;
      position: absolute;
      /* background-color: #0e0303; */
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 30%,
        rgba(255, 255, 255, 1) 100%
      );

      opacity: 1;
      height: 100%;
      width: 100%;
      transition: 0.5s;
    }

    .body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .summary {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 10;
      overflow: hidden;
    }
    .provider {
      border-top: solid 1px white;
      padding: 0.2rem;
      display: flex;
      margin-top: 2rem;
    }

    .provider p {
    }

    .categories {
      font-weight: bold;
    }
  }
}

.hightlight {
  transition: 0.5s;
}

.card:hover .cover .image,
.highlight.card .cover .image {
  filter: contrast(1);
  transition: 0.5s;
  mix-blend-mode: initial;
}

.card:hover .cover .overlay,
.highlight.card .cover .overlay {
  background: white;
  opacity: 0;
  transition: 0.5s;
}

.hide {
  display: none;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .search-result {
    font-size: 0.7rem;
  }

  button {
    margin-left: 0.5rem;
    background-color: white;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.65) 0%,
      rgba(255, 255, 255, 1) 50%
    );
    transition: 0.5s;
  }
  button:hover {
    /* background-position: 0 -10px; */

    background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.65) 0%,
      rgba(255, 255, 255, 1) 50%
    );
    transition: 0.5s;
  }

  .w-search {
    display: flex;
    box-sizing: border-box;
    button {
      margin-left: 0;
      margin-right: 1rem;
      color: white;
      background: initial;
      border: initial;
    }
  }

  input {
    width: 20rem;
    height: 2.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 0rem;
  }

  input::placeholder {
    font-weight: 400;
  }
}

#preview-search {
  max-width: 50rem;

  span {
    margin: 0.2rem;
    font-size: 0.8rem;
  }

  span:after {
    content: "-";
    padding-left: 0.2rem;
  }

  span:last-child::after {
    content: "";
  }
}

@media only screen and (max-width: 960px) {
  p {
    font-size: 0.85rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .search-wrapper {
    flex-direction: column;

    button {
      margin-left: 0;
      margin-right: 0.25rem;
    }

    input {
      width: 15rem;
      max-width: 70vw;
    }

    .w-button {
      margin-top: 0.5rem;
      display: flex;
    }
  }

  .in-view.card .cover .image,
  .hightlight .cover .image {
    filter: contrast(1);
    transition: 0.5s;
    transition-delay: 0.25s;
    mix-blend-mode: initial;
  }

  .in-view.card .cover .overlay,
  .hightlight .cover .overlay {
    background: white;
    opacity: 0;
    transition-delay: 0.75s;
    transition: 0.5s;
  }

  header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    #preview-search {
      span {
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
  }

  .event-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);

    .card {
      border-bottom: solid 1px black;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
      background-color: black;

      .cover {
        height: 14rem;
      }

      .provider {
        margin-top: 0.2rem;
      }
    }
  }
}
